In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

In [4]:
airports=pd.read_csv("/content/airports.csv")

print("Lines: ",airports.shape[0])
print("columns: ",airports.shape[1])
airports.head()

Lines:  35704
columns:  18

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [3]:
countries=pd.read_csv('/content/countries.csv')
print("Lines: ",countries.shape[0])
print("columns: ",countries.shape[1])
countries.head()

Lines:  247
columns:  6

,id,code,name,continent,wikipedia_link,keywords
0,302672,AD,Andorra,EU,https://en.wikipedia.org/wiki/Andorra,NaN
1,302618,AE,United Arab Emirates,AS,https://en.wikipedia.org/wiki/United_Arab_Emir...,"UAE,مطارات في الإمارات العربية المتحدة"
2,302619,AF,Afghanistan,AS,https://en.wikipedia.org/wiki/Afghanistan,NaN
3,302722,AG,Antigua and Barbuda,NaN,https://en.wikipedia.org/wiki/Antigua_and_Barbuda,NaN
4,302723,AI,Anguilla,NaN,https://en.wikipedia.org/wiki/Anguilla,NaN

In [5]:
regions=pd.read_csv('/content/regions.csv')
print("Lines: ",regions.shape[0])
print("columns: ",regions.shape[1])
regions.head()

Lines:  3963
columns:  8

,id,code,local_code,name,continent,iso_country,wikipedia_link,keywords
0,302811,AD-02,02,Canillo Parish,EU,AD,https://en.wikipedia.org/wiki/Canillo,NaN
1,302812,AD-03,03,Encamp Parish,EU,AD,https://en.wikipedia.org/wiki/Encamp,NaN
2,302813,AD-04,04,La Massana Parish,EU,AD,https://en.wikipedia.org/wiki/La_Massana,NaN
3,302814,AD-05,05,Ordino Parish,EU,AD,https://en.wikipedia.org/wiki/Ordino,NaN
4,302815,AD-06,06,Sant Julià de Lòria Parish,EU,AD,https://en.wikipedia.org/wiki/Sant_Julià_de_Lòria,NaN

In [6]:
#dropping unnecessary data
airports.drop(['wikipedia_link','home_link','keywords'],axis=1,inplace=True) 
countries.drop(['wikipedia_link','keywords'],axis=1,inplace=True) 
regions.drop(['wikipedia_link','keywords'],axis=1,inplace=True)
#Removing Antarctica due to fewer airports
airports=airports[airports['continent']!='AN'] 
countries=countries[countries['continent']!='AN'] 
#Removing closed airports
airports=airports[airports['type']!='closed'] 
#Removing unassigned airports in regions
regions=regions[regions['local_code']!='U-A']

In [9]:
#NA for north america is changed with NoA
airports['continent']=airports['continent'].fillna('NoA')
countries['continent']=countries['continent'].fillna('NoA')
# well change NA to NAM for Namibia
airports['iso_country']=airports['iso_country'].fillna('NAM') 
countries['code']=countries['code'].fillna('NAM')

In [28]:
airports.isna().any()

id                   False
ident                False
type                 False
name                 False
latitude_deg         False
longitude_deg        False
elevation_ft          True
continent            False
iso_country          False
iso_region           False
municipality          True
scheduled_service    False
gps_code              True
iata_code             True
local_code            True
dtype: bool

In [27]:
airports.dropna(subset=['ident','type','name'], inplace=True)

In [29]:
countries.isna().any()

id           False
code         False
name         False
continent    False
dtype: bool

In [30]:
regions.isna().any()

id             False
code           False
local_code      True
name           False
continent       True
iso_country     True
dtype: bool

In [31]:
regions.dropna(subset=['iso_country'], inplace=True)